<aside class="navbar-aside" id="offcanvas_aside">
    <div class="aside-top">
        <a href="/admin/home" class="brand-wrap">

            <h2 style="font-family: 'Times New Roman', Times, serif;color: rgb(8,129,120);">Coco Loco </h2>
        </a>
        <div>
            <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i>
            </button>
        </div>
    </div>
    <nav>
        <ul class="menu-aside">
            <li class="menu-item">
                <a class="menu-link" href="/admin/home"> <i class="icon material-icons md-home"></i>
                    <span class="text">Dashboard</span>
                </a>
            </li>
            <li class="menu-item active">
                <a class="menu-link" href="/admin/product"> <i class="icon material-icons md-shopping_bag"></i>
                    <span class="text">Products</span>
                </a>

            </li>
            <li class="menu-item ">
                <a class="menu-link" href="/admin/orders"> <i class="icon material-icons md-shopping_cart"></i>
                    <span class="text">Orders</span>
                </a>

            </li>

            <li class="menu-item ">
                <a class="menu-link" href="/admin/category"> <i class="icon material-icons md-category"></i>
                    <span class="text">Categories</span>
                </a>

            </li>
            <li class="menu-item">
                <a class="menu-link" href="/admin/manage_users"> <i class="icon material-icons md-person"></i>
                    <span class="text">Users</span>
                </a>

            </li>
            <li class="menu-item ">
                <a class=" menu-link" href="coupons"> <i class="icon material-icons md-class"></i>
                    <span class="text">Coupons</span> </a>
            </li>

            {{!-- <li class="menu-item ">
                <a class="menu-link" href="/admin/banner"> <i
                        class="icon material-icons md-photo_size_select_actual"></i>
                    <span class="text">Banners</span> </a>
            </li> --}}



        </ul>
        <hr>
        <ul class="menu-aside">
            <li class="menu-item has-submenu">
                <a class="menu-link" href="#"> <i class="icon material-icons md-settings"></i>
                    <span class="text">Settings</span>
                </a>
                <div class="submenu">
                    <button class="nav-link
                     rounded-pill darkmode m-3 " href="#">
                        <i class="material-icons md-nights_stay"></i>Dark mode
                    </button>
                </div>
            </li>
            <li class="menu-item">
                <a class="menu-link" href="/admin/logout"> <i class="icon material-icons md-exit_to_app"></i>
                    <span class="text"> Logout </span>
                </a>
            </li>
        </ul>
        <br>
        <br>
    </nav>
</aside>
<main class="main-wrap">

    <section class="content-main">
        <div class="row">
            <div class="col-9">
                <div class="content-header">
                    <h2 class="content-title">Edit Product</h2>

                </div>
            </div>
            <div class="col-lg-12">
                <div class="card mb-4">
                    <div class="card-header">
                        <h4>Basic</h4>
                    </div>
                    <div class="card-body">
                        <form method="post" class="form-add-product" action="/admin/update_product/{{proData._id}}"
                            enctype="multipart/form-data" onsubmit="return Validation()">
                            <div class="mb-4">
                                <label for="product_name" class="form-label">Product Name</label>
                                <input type="text" value="{{proData.name}}" placeholder="Type here" name="name"
                                    class="form-control" id="productName" onchange="validate_productName()">
                            </div>
                            <div class="mb-4">
                                <label class="form-label">Full description</label>
                                {{!-- <textarea placeholder="Type here" name="description" id="longdescription"
                                    class="form-control" rows="4 " value="{{product.description}}"></textarea> --}}
                                <input class="form-control" id="longdescription" onchange="validate_description()"
                                    name="description" rows="3" value="{{proData.description}}" required></input>
                            </div>
                            <div class="row">
                                <div class="col-lg-2">
                                    <div class="mb-4">
                                        <label class="form-label">Regular Price</label>
                                        <div class="row gx-2">
                                            <input placeholder="₹" type="text" value="{{proData.price}}" id="price"
                                                name="price" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <div class="mb-4">
                                        <label class="form-label">Discount Price</label>
                                        <div class="row gx-2">
                                            <input placeholder="₹" type="text" value="{{proData.DiscountPrice}}"
                                                id="price" name="discountprice" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="mb-4">
                                        <label class="form-label">Stock</label>
                                        <input name="stock" value="{{proData.stock}}" class="form-control"
                                            placeholder="Quantity" type="text" id="Qty">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <label class="form-label">Category:</label>
                                    <select name="category" id="category" class="form-select">
                                        {{#each catogories}}
                                        <option value="{{this._id}}">{{this.category}}</option>
                                        {{/each}}
                                    </select>
                                </div>



                            </div>
                            <div class="form-group">
                                <label for="productImage">Product Image:</label>
                                <div class="d-flex border p-10 m-tb-10">
                                    <input name="product-id" type="hidden" value="{{proData._id}}">
                                    {{#each proData.imageUrl}}
                                    <div class="image-container" onclick="deleteProImg()">
                                        <div class="badge rounded-pill alert-danger "><span class="close-button"
                                                data-image-index="{{@index}}" style="text-decoration: none;">×</span>
                                        </div>
                                        <img src="/images/products/{{this}}" alt="images"
                                            style="width: 80px; height: auto;" class="m-2 pro-image"
                                            data-image-index="{{@index}}">
                                    </div>

                                    {{/each}}
                                </div>
                                <input type="file" class="form-control-file" id="productImage" multiple name="image">
                            </div>

                            <div class="d-flex g-2">
                                {{!-- <div class="m-2">
                                    <button type="submit" class="btn btn-primary"
                                        onclick="return Do you Edit the product ?">Edit Product</button>

                                </div> --}}
                                <div class="m-2">
            <button type="submit" class="btn btn-primary" id="edit-product-btn">Edit Product</button>
        </div>

                                <div class="m-2">
                                    <a href="/admin/product" type="button" id="backbutton"
                                        class="btn btn-primary">Back</a>

                                </div>


                            </div>
                            {{!-- <div class="mb-4">
                                <label class="form-label">Tax rate</label>
                                <input type="text" placeholder="%" class="form-control" id="product_name">
                            </div>
                            <label class="form-check mb-4">
                                <input class="form-check-input" type="checkbox" value="">
                                <span class="form-check-label"> Make a template </span>
                            </label> --}}
                        </form>
                    </div>
                </div> <!-- card end// -->



            </div>
    </section> <!-- content-main end// -->
    <footer class="main-footer font-xs">
        <div class="row pb-30 pt-15">
            <div class="col-sm-6">
                <script>
                    document.write(new Date().getFullYear())
                </script> ©, Coco Loco - Ecommerce website .
            </div>
            <div class="col-sm-6">
                <div class="text-sm-end">
                    All rights reserved
                </div>
            </div>
        </div>
    </footer>
</main>

<script>
    const deleteImage = async (productId, imageIndex) => {
        try {
            const response = await fetch(`/admin/product_img_delete?id=${productId}&?image=${imageIndex}`, {
                method: 'DELETE'
            });

            const data = await response.json();
            console.log(data.message);

            if (data) {
                const imageElem = document.querySelector(`.pro-image[data-image-index="${imageIndex}"]`);
                if (imageElem) {

                    console.log(imageElem, 'htttttttttttttttttttttt')
                    // or
                    imageElem.remove(); // remove the image element completely
                }
            }

        } catch (error) {
            console.error(error);
        }
    };


    const deleteProImg = () => {

        const deleteButtons = document.querySelectorAll('.close-button')
        const productId = document.getElementsByName('product-id')[0].value



        deleteButtons.forEach((button) => {
            button.addEventListener('click', async (event) => {
                const imageIndex = event.target.dataset.imageIndex;
                deleteImage(productId, imageIndex);
                const removeIcon = document.createElement("span");
                removeIcon.classList.add("remove-icon");
                removeIcon.innerHTML = "&times;";
            });
        });







    }




    function Validation() {


        let productName = document.getElementById("productName").value;

        let longdescription = document.getElementById("longdescription").value;
        let Qty = document.getElementById("Qty").value;
        let price = document.getElementById("price").value;



        let productNameRegex = /^\s*.*\S.*\s*$/;
        let number = /^[1-9]\d*$/;
        let descriptionRegex = /^(?!\s*$)[\s\S]{1,10}$/




        let productNameAlert = document.getElementById("productNameAlert");
        let qtyAlert = document.getElementById("qtyAlert");
        let priceAlert = document.getElementById("priceAlert");


        let longAlert = document.getElementById("longAlert");
        let imgAlert = document.getElementById('imgAlert')

        if (!productName.match(productNameRegex)) {
            productNameAlert.innerHTML = "Name Not Valid";
            return false;
        } else if (!Qty.match(number)) {
            qtyAlert.innerHTML = "Please Check Qty Again";
            return false;
        } else if (!price.match(number)) {
            priceAlert.innerHTML = "Please Check Price Again";
            return false;
        }

        else if (!longdescription.match(descriptionRegex)) {
            longAlert.innerHTML = "Please Check about Again";
            return false;
        }

        else {
            return true;
        }

    }


    function validate_productName() {
        var productNameInput = document.getElementById("productName");
        var product = productNameInput.value.trim();
        var pattern = /^[a-zA-Z0-9\s]{3,}$/;

        if (!pattern.test(product)) {
            alert("Invalid product name. Please try again.");
            productNameInput.value = ''; // Clear the input field
            productNameInput.focus();    // Set focus back to the input field
            return false;
        } else {
            return true;
        }


    }


    function validate_description() {

        var longdescriptionInput = document.getElementById("longdescription");
        var longdescription = longdescriptionInput.value.trim();


        if (longdescription === "") {
            alert("Invalid description . Please try again.");
            longdescriptionInput.value = ''; // Clear the input field
            longdescriptionInput.focus();    // Set focus back to the input field
            return false;
        } else {
            return true;
        }

    }




</script>



<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>

    // sure Edit btn

    document.getElementById('edit-product-btn').addEventListener('click', function(event) {
            event.preventDefault(); // Prevent the form from submitting immediately

            Swal.fire({
                title: 'Are you sure?',
                text: "Do you want to edit the product?",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Yes, edit it!',
                cancelButtonText: 'No, cancel!',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    // If confirmed, submit the form
                    // Assuming the button is within a form, submit the form
                    // If not, you might need to target the form explicitly
                    event.target.closest('form').submit();
                }
            });
        });





    //back
    $(document).ready(function () {
        $('#backbutton').click(function (e) {
            e.preventDefault();


            Swal.fire({
                title: "Leave the page?",
                text: "The Data will not be saved",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#088178",
                cancelButtonColor: "#d33",
                confirmButtonText: "Yes"
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = "/admin/product";

                }
            });


        });
    }
    )
</script>