<style>
    .header-action-icon-2 {
    position: relative; /* Ensure proper positioning */
    z-index: 1000; /* Set a higher z-index value */
}

.dropdown-menu {
    position: absolute; /* Position the dropdown menu */
    top: 100%; /* Position it below the parent element */
    right: 0; /* Adjust as needed */
    z-index: 1001; /* Set a higher z-index value */
}

.dropdown.nav-item {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    top: 100%; /* Position the dropdown below the parent element */
    right: 0; /* Align the dropdown to the right */
    z-index: 1000; /* Ensure the dropdown appears above other elements */
}


</style>


<header class="header-area header-style-1 header-height-2">
    <div class="header-top header-top-ptb-1 d-none d-lg-block">
        <div class="container">

        </div>
    </div>
    <div class="header-middle">
        <div class="container">
            <div class="header-wrap">
                <div class="logo logo-width-1">
                    <a href="/"><img src="/images/logo/Eagle_Logo.png" style=" width: 10px;" alt="logo"></a>
                </div>
                <div class="header-right">

                    <div class="search-style-2">
                        
                            <input type="text" onkeyup="searchProducts()" id="searchInput" name="search" class="form-control"
                                placeholder="Search for items...">
                                {{!-- <button id="searchButton">Search</button> --}}
                        
                    </div>
                    <div class="header-action-right">
                        <div class="header-action-2">
                            <div class="header-action-icon-2">
                                <a href="/wishlist?id={{userData._id}}">
                                    <img class="svgInject" alt="Evara" src="/assets/imgs/theme/icons/icon-heart.svg">
                                    {{#if userData.wishlist.length}}
                                    <span class="pro-count blue">{{userData.wishlist.length}}</span>
                                    {{else}}
                                    <span class="pro-count blue">0</span>
                                    {{/if}}

                                </a>
                            </div>
                            <div class="header-action-icon-2">
                                <a class="mini-cart-icon" href="/cart?id={{userData._id}}">
                                    <img alt="Evara" src="/assets/imgs/theme/icons/icon-cart.svg">
                                    {{#if userData.cart.length}}
                                    <span class="pro-count blue">{{userData.cart.length}}</span>
                                    {{else}}
                                    <span class="pro-count blue">0</span>
                                    {{/if}}
                                </a>
                            </div>
                            {{#if userData}}
                            <div class="header-action-icon-2">
                                <li class="dropdown nav-item">
                                    <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount"
                                        aria-expanded="false">
                                        <img class="img-xs rounded-circle mr-2" style="width: 50px;"
                                            src="/images/users/profile.jpg" alt="User">
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount"
                                        style="font-family: 'Times New Roman', Times, serif;">
                                        <a class="dropdown-item" href="/profile">
                                            <i class="fa-solid fa-lg fa-circle-user" style="margin-right: 10px;"></i> Account
                                        </a>
                                        <a class="dropdown-item" href="/my_orders">
                                            <i class="fa-brands fa-lg fa-shopify" style="margin-right: 10px;"></i> Orders
                                        </a>
                                        <a class="dropdown-item" href="/wallet">
                                            <i class="fa-solid fa-lg fa-wallet " style="margin-right: 10px;"></i> Wallet
                                        </a>
                                        <a class="dropdown-item" href="/wishlist?id={{userData._id}}">
                                            <i class="fa-solid fa-lg fa-heart" style="margin-right: 10px;"></i> Favorites
                                        </a>
                                        
                                        <a class="dropdown-item" href="#">
                                            <i class="fa-solid fa-lg fa-circle-info " style="margin-right: 10px;"></i> Help center
                                        </a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item text-danger"  id="logoutbtn" href="/logout">
                                            <i class="fa-solid fa-right-from-bracket" style="margin-right: 10px;"></i> Logout
                                        </a>
                                    </div>
                                </li>
                            </div>

                            {{else}}

                             <div style="margin-left: 10px;">
                                <div class="btn p-2.2 "> <i class="fi-rs-user"></i><a href="/login"
                                        style="color: white;"> Sign in </a>

                                </div>
                            </div>



                            {{/if}}

                            {{!-- {{#unless userData}}
                           
                            {{/unless}} --}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="container">
            <div class="header-wrap header-space-between position-relative">

                <div class="header-nav d-none d-lg-flex">
                    <div class="main-categori-wrap d-none d-lg-block">
                        <a class="categori-button-active" href="/">
                            <span class="fi-rs-apps"></span> Coco Loco
                        </a>

                    </div>
                    <div class="main-menu main-menu-padding-1 main-menu-lh-1 d-lg-block">
                        <nav>
                            <ul>
                                <li></li>
                                <li></li>
                                <li> <a href="/"> Home </a></li>
                                <li> <a href="/about"> About </a></li>

                                <li><a href="/product">Shop </i></a>

                                </li>
                               
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="hotline d-none d-lg-block">
                    <p><i class="fi-rs-headset"></i><span>Hotline</span> 1900 - 8889 - 001 </p>
                </div>

            </div>
        </div>
    </div>
</header>

<script>

    /////logout
    $(document).ready(function () {
        $('#logoutbtn').click(function (e) {
            e.preventDefault();


            Swal.fire({
                title: "LOGOUT?",
                text: "Do you want to logout?",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#088178",
                cancelButtonColor: "#d33",
                confirmButtonText: "Yes"
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = "/logout";

                }
            });


        });
    });
</script>