<main class="main">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="/" rel="nofollow">Home</a>
                <span></span> <a href="/product" rel="nofollow">shop</a>
                <span></span> Product Details 
            </div>
        </div>
    </div>
    <section class="mt-50 mb-50">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="product-detail accordion-detail">
                        <div class="row mb-50">
                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <div class="detail-gallery">
                                    <span class="zoom-icon"><i class="fi-rs-search"></i></span>
                                    <!-- MAIN SLIDES -->
                                    <div class="product-image-slider">
                                        {{#each proData.imageUrl}}
                                        <figure class="border-radius-10">
                                            <img src="/images/products/{{this}}" alt="product image">
                                        </figure>
                                        {{/each}}

                                    </div>
                                    <!-- THUMBNAILS -->
                                    <div class="slider-nav-thumbnails pl-15 pr-15">
                                        {{#each proData.imageUrl}}
                                        <div><img src="/images/products/{{this}}" alt="product image"></div>
                                        {{/each}}

                                    </div>
                                </div>
                                <!-- End Gallery -->
                            </div>
                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <div class="detail-info">
                                    <h2 class="title-detail">{{proData.name}}</h2>
                                    <input name="product_name" value="{{proData.name}}" type="hidden">
                                    <div class="product-detail-rating">
                                        <div class="pro-details-brand">
                                            {{!-- <span> Brands: <a href="shop-grid-right.html">Bootstrap</a></span>
                                            --}}
                                        </div>
                                        <div class="product-rate-cover text-end">
                                            <div class="product-rate d-inline-block">
                                                <div class="product-rating" style="width:90%">
                                                </div>
                                            </div>
                                            <span class="font-small ml-5 text-muted"> (25 reviews)</span>
                                        </div>
                                    </div>
                                    <div class="clearfix product-price-cover">
                                        <div class="product-price primary-color float-left">
                                            <ins><span class="text-brand">₹{{subtract proData.price proData.DiscountPrice}}</span></ins>
                                            <ins><span class="old-price font-md ml-15">₹{{proData.price}}</span></ins>
                                            <span class="save-price  font-md color3 ml-15">25% Off</span>
                                        </div>
                                    </div>
                                    <div class="bt-1 border-color-1 mt-15 mb-15"></div>
                                    <div class="short-desc mb-30">
                                        <p>{{proData.description}}</p>
                                    </div>
                                    <div class="product_sort_info font-xs mb-30">
                                        <ul>
                                            <li class="mb-10"><i class="fi-rs-crown mr-5"></i> 1 Year AL Jazeera Brand
                                                Warranty</li>
                                            <li class="mb-10"><i class="fi-rs-refresh mr-5"></i> 30 Day Return Policy
                                            </li>
                                            <li><i class="fi-rs-credit-card mr-5"></i> Cash on Delivery available</li>
                                        </ul>
                                    </div>
                                   
                                    <div class="bt-1 border-color-1 mt-30 mb-30"></div>
                                    <div class="detail-extralink">
                                        <div class="detail-qty border radius">
                                            <a href="#" class="qty-down"><i class="fi-rs-angle-small-down"></i></a>
                                            <span class="qty-val">1</span>
                                            <a href="#" class="qty-up"><i class="fi-rs-angle-small-up"></i></a>
                                        </div>
                                        <div class="product-extra-link2">


                                            {{#if proData.stock}}
                                            {{#if productExistInCart}}

                                            <button onclick="window.location.href='/cart?id={{userData._id}}'"
                                                class="button button-add-to-cart">Go to cart</button>
                                            {{else}}

                                            {{#if userData}}
                                            <span id="cart_btn">
                                                <button onclick="addToCartBtn('{{proData._id}}')" id="add_to_cart_btn"
                                                    class="button button-add-to-cart">Add to cart</button>
                                            </span>
                                            {{else}}
                                            <span id="cart_btn">
                                                <button onclick="window.location.href='/login'" id="add_to_cart_btn"
                                                    class="button button-add-to-cart">Add to cart</button>
                                            </span>
                                            {{/if}}

                                            {{/if}}

                                            {{else}}

                                            <div onclick="outofStock()">
                                                <button disabled id="add_to_cart_btn" class="button button-add-to-cart">
                                                    Add to cart
                                                </button>
                                            </div>

                                            {{/if}}
                                            <a aria-label="Add To Wishlist" class="action-btn hover-up"
                                                href="shop-wishlist.html"><i class="fi-rs-heart"></i></a>
                                            <a aria-label="Compare" class="action-btn hover-up"
                                                href="shop-compare.html"><i class="fi-rs-shuffle"></i></a>
                                        </div>
                                    </div>
                                    <ul class="product-meta font-xs color-grey mt-50">
                                        <li class="mb-5">SKU: <a href="#">FWM15VKT</a></li>
                                        <li class="mb-5">Tags: <a href="#" rel="tag">Cloth</a>, <a href="#"
                                                rel="tag">Women</a>, <a href="#" rel="tag">Dress</a> </li>
                                        {{#if proData.stock}}
                                        <li>Availability:<span class="in-stock text-success ml-5">{{proData.stock}}
                                                Items In
                                                Stock</span></li>
                                        {{else}}
                                        <li>Availability:<span class="in-stock text-success ml-5">Out of
                                                Stock</span></li>
                                        {{/if}}
                                    </ul>
                                </div>
                                <!-- Detail Info -->
                            </div>
                        </div>
                        
                        <div class="banner-img banner-big wow fadeIn f-none animated mt-50">
                            <img class="object-fit-cover border-radius-10" src="/images/banners/Banner.jpg" alt="">
                            <div class="banner-text">
                                {{!-- <h4 class="mb-15 mt-40">Repair Services</h4>
                                <h2 class="fw-600 mb-20">We're an Apple <br>Authorised Service Provider</h2> --}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<script>


    const addToCartBtn = async (proId) => {

        const productid = document.getElementById('add_to_cart_btn').value
        const productName = document.getElementsByName('product_name')[0].value

        console.log(productName)

        const response = await fetch(`/add_to_cart?id=${proId}`, {
            method: 'GET',
            headers: {
                'Content-Type': "application/json",
            },
        })

        let data = await response.json()
        console.log(data, 'from add to cart btn....')

        document.getElementById('cart_btn').innerHTML =
            `<button onclick="window.location.href='/cart?id={{userData._id}}'" class="button button-add-to-cart">Go to cart</button>`


        if (data) {
            swal("Awww 🥳!", `${productName} added to Cart! `, "success");
        }

    }



    const outofStock = () => {
        alertify.set('notifier', 'position', 'bottom-center');
        alertify.success(`Item Out of stock`)
    }

</script>